@tailwind base;
@tailwind components;
@tailwind utilities;


/* Import Flowbite styles */
@import "flowbite";



a.logo {
  padding-top: 5px;
  display: block;
  padding-bottom: 15px;
}





p.signup-title {
  display: block;
  font-size: 14px;
  padding-top: 20px;
}

.padding-add {
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.prefooter{
  background-image: url(../assets/images/Artboard.svg);
  height: 42px;
  background-color: #2bbecb;
}

h3.text-xs.font-semibold.text-\[\#fff\].tracking-wider.uppercase.cursor-default.no-margin {
  margin-bottom: -21px;
}

.prefooter.\31 B152A {
  background-color: #1B152A;
}

.prefooter-gray{
  background-image: url(../assets/images/bg-grey.svg);
  height: 42px;
  background-color: #424242;

}

